
node_modules/
Work/Scripts/TwitterParsing/dist_electron/bundled/
Work/Scripts/TwitterParsing/dist_electron/win-unpacked/
Work/Scripts/TwitterParsing/dist_electron/*.exe
Work/Scripts/TwitterParsing/dist_electron/*.exe.blockmap.gz
Work/Scripts/TwitterParsing/dist_electron/*.yaml

.idea/
__pycache__/
.ipynb_checkpoints/

*.swp

*.rar
