
node_modules/
TwitterParsing/dist_electron/bundled/
TwitterParsing/dist_electron/win-unpacked/
TwitterParsing/dist_electron/*.exe
TwitterParsing/dist_electron/*.exe.blockmap.gz
TwitterParsing/dist_electron/*.yaml

.idea/
__pycache__/
.ipynb_checkpoints/
